name: cuvs_mg_cagra
constraints:
  build: cuvs_bench.config.algos.constraints.cuvs_cagra_build
  search: cuvs_bench.config.algos.constraints.cuvs_cagra_search
groups:
  base:
    build:
      graph_degree: [32, 64, 96]
      intermediate_graph_degree: [128]
      graph_build_algo: ["IVF_PQ"]
    search:
      itopk: [32, 64, 128, 256, 512]
      max_iterations: [0, 16]
      search_width: [1, 2, 4, 8]
  test:
    build:
      graph_degree: [32]
      intermediate_graph_degree: [32]
      graph_build_algo: ["IVF_PQ"]
    search:
      itopk: [32]
      search_width: [1, 2]
