name: diskann_memory
constraints:
  build: cuvs_bench.config.algos.constraints.diskann_memory_build
groups:
  base:
    build:
      R: [32, 64, 96]
      L_build: [128, 256, 384]
      alpha: [1.2]
      num_threads: [32]
    search:
      L_search: [10, 20, 30, 40, 50, 100, 200, 300]
