name: faiss_gpu_ivf_flat
groups:
  base:
    build:
      nlist: [1024, 2048, 4096]
      ratio: [10]
      use_cuvs: [False]
    search:
      nprobe: [10, 20, 30, 50, 100, 200, 500]
  cuvs:
    build:
      nlist: [1024, 2048, 4096]
      ratio: [10]
      use_cuvs: [True]
    search:
      nprobe: [10, 20, 30, 50, 100, 200, 500]
  test:
    build:
      nlist: [1024]
      ratio: [4]
      use_cuvs: [False]
    search:
      nprobe: [1, 5]
