# cuvs-java
/cuvs-java/target/
/cuvs-java/bin/
/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/
# internal
/internal/.ninja_deps
/internal/.ninja_log
/internal/CMakeCache.txt
/internal/CMakeFiles/
/internal/CPM_modules/
/internal/_deps/
/internal/build.ninja
/internal/cmake/
/internal/cmake_install.cmake
/internal/cpm-package-lock.cmake
# examples
/examples/target/
