
/* Fix references to not look like parameters */
dl.citation > dt.label {
  display: unset !important;
  float: left !important;
  border: unset !important;
  background: unset !important;
  padding: unset !important;
  margin: unset !important;
  font-size: unset !important;
  line-height: unset !important;
  padding-right: 0.5rem !important;
}

/* Add opening bracket */
dl.citation > dt.label > span::before {
  content: "[";
}

/* Add closing bracket */
dl.citation > dt.label > span::after {
  content: "]";
}

/* Highlight math formulas in a box */
div.math {
  background-color: #f8f9fa !important;
  border-top: 1px solid #e9ecef !important;
  border-bottom: 1px solid #e9ecef !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
  padding: 1rem 1.25rem !important;
  margin: 1rem 0 !important;
  overflow-x: auto !important;
}
