c_compiler_version:
  - 13  # [not os.environ.get("RAPIDS_CUDA_VERSION", "").startswith("11")]
  - 11  # [os.environ.get("RAPIDS_CUDA_VERSION", "").startswith("11")]

cxx_compiler_version:
  - 13  # [not os.environ.get("RAPIDS_CUDA_VERSION", "").startswith("11")]
  - 11  # [os.environ.get("RAPIDS_CUDA_VERSION", "").startswith("11")]

c_stdlib:
  - sysroot

c_stdlib_version:
  - "2.28"

cmake_version:
  - ">=3.26.4,!=3.30.0"

glog_version:
  - ">=0.6.0"

h5py_version:
  - ">=3.8.0"

nlohmann_json_version:
  - ">=3.11.2"
