name: build

on:
  push:
    branches:
      - "main"
      - "release/*"
    tags:
      - v[0-9][0-9].[0-9][0-9].[0-9][0-9]
  workflow_dispatch:
    inputs:
      branch:
        description: |
          branch: git branch the workflow run targets.
          Required even when 'sha' is provided because it is also used for organizing artifacts.
        required: true
        type: string
      date:
        description: "date: Date (YYYY-MM-DD) this run is for. Used to organize artifacts produced by nightly builds"
        required: true
        type: string
      sha:
        description: "sha: full git commit SHA to check out"
        required: true
        type: string
      build_type:
        description: "build_type: one of [branch, nightly, pull-request]"
        type: string
        default: nightly

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  cpp-build:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      node_type: cpu16
      script: ci/build_cpp.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
      sha: ${{ inputs.sha }}

  rocky8-clib-standalone-build:
    runs-on: linux-${{ matrix.arch }}-cpu16
    env:
      RAPIDS_ARTIFACTS_DIR: ${{ github.workspace }}/artifacts
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - &latest_cuda12 '12.9.1'
          - &latest_cuda13 '13.1.1'
        arch:
          - amd64
          - arm64
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.sha || github.sha }}
          fetch-depth: 0
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
          role-duration-seconds: 43200
      - name: Setup sccache-dist
        uses: rapidsai/shared-actions/setup-sccache-dist@main
        with:
          log-file: ${{ env.RAPIDS_ARTIFACTS_DIR }}/sccache.log
          request-timeout: 7140
      - name: Get RAPIDS License Builder
        uses: actions/checkout@v4
        with:
          repository: rapidsai/spdx-license-builder
          ref: refs/heads/main
          path: ./tool/
          fetch-depth: 0
      - name: Build and run standalone C Docker image
        env:
          CUDA_VERSION: ${{ matrix.cuda_version }}
          PYTHON_VERSION: "3.10"
          RAPIDS_AUX_SECRET_1: ${{ secrets.GIST_REPO_READ_ORG_GITHUB_TOKEN }}
        run: ci/run_standalone_c_docker.sh
      - name: Upload file to GitHub Artifact
        uses: actions/upload-artifact@v4
        with:
          name: libcuvs_c_${{ matrix.cuda_version }}_${{ matrix.arch }}.tar.gz
          path: libcuvs_c.tar.gz
  rust-build:
    needs: cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    # Artifacts are not published from these jobs, so it's safe to run for multiple CUDA versions.
    # If these jobs start producing artifacts, the names will have to differentiate between CUDA versions.
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - *latest_cuda12
          - *latest_cuda13
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      arch: "amd64"
      date: ${{ inputs.date }}
      container_image: "rapidsai/ci-conda:26.04-cuda${{ matrix.cuda_version }}-ubuntu24.04-py3.13"
      node_type: "gpu-l4-latest-1"
      script: "ci/build_rust.sh"
      sha: ${{ inputs.sha }}
  go-build:
    needs: cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    # Artifacts are not published from these jobs, so it's safe to run for multiple CUDA versions.
    # If these jobs start producing artifacts, the names will have to differentiate between CUDA versions.
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - *latest_cuda12
          - *latest_cuda13
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      arch: "amd64"
      date: ${{ inputs.date }}
      container_image: "rapidsai/ci-conda:26.04-cuda${{ matrix.cuda_version }}-ubuntu24.04-py3.13"
      node_type: "gpu-l4-latest-1"
      script: "ci/build_go.sh"
      sha: ${{ inputs.sha }}
  java-build:
    needs: cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    # Artifacts are not published from these jobs, so it's safe to run for multiple CUDA versions.
    # If these jobs start producing artifacts, the names will have to differentiate between CUDA versions.
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - *latest_cuda12
          - *latest_cuda13
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      arch: "amd64"
      date: ${{ inputs.date }}
      container_image: "rapidsai/ci-conda:26.04-cuda${{ matrix.cuda_version }}-ubuntu24.04-py3.13"
      script: "ci/build_java.sh"
      artifact-name: "cuvs-java-cuda${{ matrix.cuda_version }}"
      file_to_upload: "java/cuvs-java/target/"
      sha: ${{ inputs.sha }}
  python-build:
    needs: [cpp-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      script: ci/build_python.sh
      sha: ${{ inputs.sha }}
      # Build a conda package for each CUDA x ARCH x minimum supported Python version
      matrix_filter: group_by({CUDA_VER, ARCH}) | map(min_by(.PY_VER | split(".") | map(tonumber)))
  upload-conda:
    needs: [cpp-build, python-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-upload-packages.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      sha: ${{ inputs.sha }}
      skip_upload_pkgs: libcuvs-template
  rust-publish:
    needs: [rust-build, upload-conda]
    secrets: inherit
    uses: ./.github/workflows/publish-rust.yaml
  docs-build:
    if: github.ref_type == 'branch'
    needs: python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    with:
      arch: "amd64"
      branch: ${{ inputs.branch }}
      build_type: ${{ inputs.build_type || 'branch' }}
      container_image: "rapidsai/ci-conda:26.04-latest"
      date: ${{ inputs.date }}
      node_type: "gpu-l4-latest-1"
      script: "ci/build_docs.sh"
      sha: ${{ inputs.sha }}
  wheel-build-libcuvs:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      node_type: cpu16
      script: ci/build_wheel_libcuvs.sh
      # build for every combination of arch and CUDA version, but only for the latest Python
      matrix_filter: group_by([.ARCH, (.CUDA_VER|split(".")|map(tonumber)|.[0])]) | map(max_by(.PY_VER|split(".")|map(tonumber)))
      package-name: libcuvs
      package-type: cpp
  wheel-publish-libcuvs:
    needs: wheel-build-libcuvs
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-publish.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      package-name: libcuvs
      package-type: cpp
  wheel-build-cuvs:
    needs: wheel-build-libcuvs
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      node_type: cpu8
      script: ci/build_wheel_cuvs.sh
      package-name: cuvs
      package-type: python
      # Build a wheel for each CUDA x ARCH x minimum supported Python version
      matrix_filter: group_by({CUDA_VER, ARCH}) | map(min_by(.PY_VER | split(".") | map(tonumber)))
  wheel-publish-cuvs:
    needs: wheel-build-cuvs
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-publish.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      package-name: cuvs
      package-type: python
      publish-wheel-search-key: cuvs_wheel_python_abi3
