name: pr
on:
  push:
    branches:
      - "pull-request/[0-9]+"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  pr-builder:
    needs:
      - check-nightly-ci
      - changed-files
      - checks
      - conda-cpp-build
      - conda-cpp-tests
      - conda-cpp-checks
      - conda-python-build
      - conda-python-tests
      - rocky8-clib-standalone-build
      - rocky8-clib-tests
      - conda-java-build-and-tests
      - rust-build
      - go-build
      - docs-build
      - wheel-build-libcuvs
      - wheel-build-cuvs
      - wheel-tests-cuvs
      - devcontainer
      - telemetry-setup
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@main
    if: always()
    with:
      needs: ${{ toJSON(needs) }}
  telemetry-setup:
    continue-on-error: true
    runs-on: ubuntu-latest
    env:
      OTEL_SERVICE_NAME: 'pr-cuvs'
    steps:
      - name: Telemetry setup
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main
  check-nightly-ci:
    needs: telemetry-setup
    runs-on: ubuntu-latest
    env:
      RAPIDS_GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check if nightly CI is passing
        uses: rapidsai/shared-actions/check_nightly_success/dispatch@main
        with:
          repo: cuvs
          max_days_without_success: 30
  changed-files:
    needs: telemetry-setup
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/changed-files.yaml@main
    with:
      files_yaml: |
        test_cpp:
          - '**'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!README.md'
          - '!ci/release/update-version.sh'
          - '!docs/**'
          - '!img/**'
          - '!notebooks/**'
          - '!python/**'
          - '!rust/**'
          - '!go/**'
          - '!thirdparty/LICENSES/**'
        test_java:
          - '**'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!README.md'
          - '!docs/**'
          - '!img/**'
          - '!notebooks/**'
          - '!python/**'
          - '!rust/**'
          - '!go/**'
          - '!thirdparty/LICENSES/**'
        test_notebooks:
          - '**'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!ci/release/update-version.sh'
          - '!README.md'
          - '!rust/**'
          - '!go/**'
          - '!thirdparty/LICENSES/**'
        test_python:
          - '**'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!ci/release/update-version.sh'
          - '!README.md'
          - '!docs/**'
          - '!img/**'
          - '!notebooks/**'
          - '!rust/**'
          - '!go/**'
          - '!thirdparty/LICENSES/**'
        test_rust:
          - '**'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!README.md'
          - '!docs/**'
          - '!img/**'
          - '!notebooks/**'
          - '!python/**'
          - '!java/**'
          - '!go/**'
          - '!thirdparty/LICENSES/**'
        test_go:
          - '**'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!README.md'
          - '!docs/**'
          - '!img/**'
          - '!notebooks/**'
          - '!python/**'
          - '!java/**'
          - '!rust/**'
          - '!thirdparty/LICENSES/**'
  checks:
    needs: telemetry-setup
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@main
    with:
      enable_check_generated_files: false
      ignored_pr_jobs: "telemetry-summarize"
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu16
      script: ci/build_cpp.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  conda-cpp-tests:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    with:
      build_type: pull-request
      script: ci/test_cpp.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  conda-cpp-checks:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-post-build-checks.yaml@main
    with:
      build_type: pull-request
      symbol_exclusions: (void (thrust::|cub::))
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@main
    with:
      build_type: pull-request
      script: ci/build_python.sh
  conda-python-tests:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: pull-request
      script: ci/test_python.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  rocky8-clib-standalone-build:
    needs: [checks]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - &latest_cuda12 '12.9.1'
          - &latest_cuda13 '13.1.0'
        arch:
          - amd64
          - arm64
    with:
      build_type: pull-request
      arch: "${{matrix.arch}}"
      date: ${{ inputs.date }}_c
      container_image: "rapidsai/ci-wheel:26.04-cuda${{ matrix.cuda_version }}-rockylinux8-py3.10"
      node_type: "cpu16"
      # requires_license_builder: false
      script: "ci/build_standalone_c.sh --build-tests"
      artifact-name: "libcuvs_c_${{ matrix.cuda_version }}_${{ matrix.arch }}.tar.gz"
      file_to_upload: "libcuvs_c.tar.gz"
      sha: ${{ inputs.sha }}
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  rocky8-clib-tests:
    needs: [rocky8-clib-standalone-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - *latest_cuda12
          - *latest_cuda13
        arch:
          - amd64
          - arm64
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "${{matrix.arch}}"
      date: ${{ inputs.date }}_c
      container_image: "rapidsai/ci-wheel:26.04-cuda${{ matrix.cuda_version }}-rockylinux8-py3.10"
      script: "ci/test_standalone_c.sh libcuvs_c_${{ matrix.cuda_version }}_${{ matrix.arch }}.tar.gz"
      sha: ${{ inputs.sha }}
  conda-java-build-and-tests:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_java || fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    # Artifacts are not published from these jobs, so it's safe to run for multiple CUDA versions.
    # If these jobs start producing artifacts, the names will have to differentiate between CUDA versions.
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - *latest_cuda12
          - *latest_cuda13
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.04-cuda${{ matrix.cuda_version }}-ubuntu24.04-py3.13"
      script: "ci/test_java.sh"
      artifact-name: "cuvs-java-cuda${{ matrix.cuda_version }}"
      file_to_upload: "java/cuvs-java/target/"
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  rust-build:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_rust || fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    # Artifacts are not published from these jobs, so it's safe to run for multiple CUDA versions.
    # If these jobs start producing artifacts, the names will have to differentiate between CUDA versions.
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - *latest_cuda12
          - *latest_cuda13
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.04-cuda${{ matrix.cuda_version }}-ubuntu24.04-py3.13"
      script: "ci/build_rust.sh"
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  go-build:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_go || fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    # Artifacts are not published from these jobs, so it's safe to run for multiple CUDA versions.
    # If these jobs start producing artifacts, the names will have to differentiate between CUDA versions.
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - *latest_cuda12
          - *latest_cuda13
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.04-cuda${{ matrix.cuda_version }}-ubuntu24.04-py3.13"
      script: "ci/build_go.sh"
  docs-build:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.04-latest"
      script: "ci/build_docs.sh"
  wheel-build-libcuvs:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu16
      script: ci/build_wheel_libcuvs.sh
      # build for every combination of arch and CUDA version, but only for the latest Python
      matrix_filter: group_by([.ARCH, (.CUDA_VER|split(".")|map(tonumber)|.[0])]) | map(max_by(.PY_VER|split(".")|map(tonumber)))
      package-name: libcuvs
      package-type: cpp
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-build-cuvs:
    needs: wheel-build-libcuvs
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu8
      script: ci/build_wheel_cuvs.sh
      package-name: cuvs
      package-type: python
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-tests-cuvs:
    needs: [wheel-build-cuvs, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: pull-request
      script: ci/test_wheel_cuvs.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  devcontainer:
    secrets: inherit
    needs: telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/build-in-devcontainer.yaml@main
    with:
      arch: '["amd64", "arm64"]'
      cuda: '["13.1"]'
      node_type: "cpu8"
      rapids-aux-secret-1: GIST_REPO_READ_ORG_GITHUB_TOKEN
      env: |
        SCCACHE_DIST_MAX_RETRIES=inf
        SCCACHE_SERVER_LOG=sccache=debug
        SCCACHE_DIST_FALLBACK_TO_LOCAL_COMPILE=false
        SCCACHE_DIST_AUTH_TOKEN_VAR=RAPIDS_AUX_SECRET_1
      build_command: |
        sccache --zero-stats;
        build-all -j0 --verbose 2>&1 | tee telemetry-artifacts/build.log;
        sccache --show-adv-stats | tee telemetry-artifacts/sccache-stats.txt;
  telemetry-summarize:
    # This job must use a self-hosted runner to record telemetry traces.
    runs-on: linux-amd64-cpu4
    needs: pr-builder
    if: ${{ vars.TELEMETRY_ENABLED == 'true' && !cancelled() }}
    continue-on-error: true
    steps:
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-summarize@main
    env:
      GH_TOKEN: ${{ github.token }}
