name: pr
on:
  push:
    branches:
      - "pull-request/[0-9]+"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  pr-builder:
    needs:
      - check-nightly-ci
      - changed-files
      - checks
      - check-c-abi
      - conda-cpp-build
      - conda-cpp-tests
      - conda-cpp-checks
      - conda-python-build
      - conda-python-tests
      - rocky8-clib-standalone-build
      - rocky8-clib-tests
      - conda-java-build-and-tests
      - rust-build
      - go-build
      - docs-build
      - wheel-build-libcuvs
      - wheel-build-cuvs
      - wheel-tests-cuvs
      - devcontainer
      - telemetry-setup
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@main
    if: always()
    with:
      needs: ${{ toJSON(needs) }}
  telemetry-setup:
    continue-on-error: true
    runs-on: ubuntu-latest
    env:
      OTEL_SERVICE_NAME: 'pr-cuvs'
    steps:
      - name: Telemetry setup
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main
  check-nightly-ci:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      id-token: write
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Get PR Info
        id: get-pr-info
        uses: nv-gha-runners/get-pr-info@main
      - name: Check if nightly CI is passing
        uses: rapidsai/shared-actions/check_nightly_success/dispatch@main
        with:
          repo: ${{ github.repository }}
          target-branch: ${{ fromJSON(steps.get-pr-info.outputs.pr-info).base.ref }}
          max-days-without-success: 30
  changed-files:
    needs: telemetry-setup
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/changed-files.yaml@main
    with:
      files_yaml: |
        build_docs:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/ISSUE_TEMPLATE/**'
          - '!.github/PULL_REQUEST_TEMPLATE.md'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/publish-rust.yaml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!.shellcheckrc'
          - '!Dockerfile'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run*.sh'
          - '!ci/test*.sh'
          - '!ci/validate_wheel.sh'
          - '!thirdparty/LICENSES/**'
        test_cpp:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/ISSUE_TEMPLATE/**'
          - '!.github/PULL_REQUEST_TEMPLATE.md'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/publish-rust.yaml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!.shellcheckrc'
          - '!Dockerfile'
          - '!README.md'
          - '!ci/build_docs.sh'
          - '!ci/build_python.sh'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_cuvs_pytests.sh'
          - '!ci/test_java.sh'
          - '!ci/test_python.sh'
          - '!ci/test_wheel_cuvs.sh'
          - '!ci/validate_wheel.sh'
          - '!docs/**'
          - '!go/**'
          - '!img/**'
          - '!java/**'
          - '!notebooks/**'
          - '!python/**'
          - '!rust/**'
          - '!thirdparty/LICENSES/**'
        test_java:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/ISSUE_TEMPLATE/**'
          - '!.github/PULL_REQUEST_TEMPLATE.md'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/publish-rust.yaml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!.shellcheckrc'
          - '!ci/build_docs.sh'
          - '!ci/build_go.sh'
          - '!ci/build_python.sh'
          - '!ci/build_rust.sh'
          - '!ci/build_wheel*.sh'
          - '!ci/checkstyle.sh'
          - '!ci/run_cuvs_pytests.sh'
          - '!ci/test_cpp.sh'
          - '!ci/test_python.sh'
          - '!ci/test_wheel_cuvs.sh'
          - '!ci/validate_wheel.sh'
          - '!Dockerfile'
          - '!docs/**'
          - '!img/**'
          - '!notebooks/**'
          - '!python/**'
          - '!rust/**'
          - '!go/**'
          - '!thirdparty/LICENSES/**'
        test_python_conda:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/ISSUE_TEMPLATE/**'
          - '!.github/PULL_REQUEST_TEMPLATE.md'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/publish-rust.yaml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!.shellcheckrc'
          - '!ci/build_go.sh'
          - '!ci/build_java.sh'
          - '!ci/build_rust.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_ctests.sh'
          - '!ci/test_cpp.sh'
          - '!ci/test_java.sh'
          - '!ci/test_standalone_c.sh'
          - '!ci/test_wheel_cuvs.sh'
          - '!ci/validate_wheel.sh'
          - '!cpp/.clang-format'
          - '!cpp/.clang-tidy'
          - '!cpp/doxygen/**'
          - '!Dockerfile'
          - '!README.md'
          - '!docs/**'
          - '!go/**'
          - '!img/**'
          - '!java/**'
          - '!notebooks/**'
          - '!rust/**'
          - '!thirdparty/LICENSES/**'
        test_python_wheels:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/ISSUE_TEMPLATE/**'
          - '!.github/PULL_REQUEST_TEMPLATE.md'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/publish-rust.yaml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!.shellcheckrc'
          - '!ci/build_cpp.sh'
          - '!ci/build_docs.sh'
          - '!ci/build_go.sh'
          - '!ci/build_java.sh'
          - '!ci/build_python.sh'
          - '!ci/build_rust.sh'
          - '!ci/build_standalone_c.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_ctests.sh'
          - '!ci/test_cpp.sh'
          - '!ci/test_java.sh'
          - '!ci/test_python.sh'
          - '!ci/test_standalone_c.sh'
          - '!ci/validate_wheel.sh'
          - '!Dockerfile'
          - '!README.md'
          - '!conda/**'
          - '!cpp/.clang-format'
          - '!cpp/.clang-tidy'
          - '!cpp/doxygen/**'
          - '!docs/**'
          - '!java/**'
          - '!go/**'
          - '!img/**'
          - '!notebooks/**'
          - '!rust/**'
          - '!thirdparty/LICENSES/**'
        test_rust:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/ISSUE_TEMPLATE/**'
          - '!.github/PULL_REQUEST_TEMPLATE.md'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/publish-rust.yaml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!.shellcheckrc'
          - '!Dockerfile'
          - '!README.md'
          - '!ci/build_docs.sh'
          - '!ci/build_go.sh'
          - '!ci/build_java.sh'
          - '!ci/build_python.sh'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_ctests.sh'
          - '!ci/run_cuvs_pytests.sh'
          - '!ci/test_cpp.sh'
          - '!ci/test_java.sh'
          - '!ci/test_python.sh'
          - '!ci/test_wheel_cuvs.sh'
          - '!ci/validate_wheel.sh'
          - '!docs/**'
          - '!go/**'
          - '!img/**'
          - '!java/**'
          - '!notebooks/**'
          - '!python/**'
          - '!thirdparty/LICENSES/**'
        test_go:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/ISSUE_TEMPLATE/**'
          - '!.github/PULL_REQUEST_TEMPLATE.md'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/publish-rust.yaml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!.shellcheckrc'
          - '!Dockerfile'
          - '!README.md'
          - '!ci/build_docs.sh'
          - '!ci/build_java.sh'
          - '!ci/build_python.sh'
          - '!ci/build_rust.sh'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_ctests.sh'
          - '!ci/run_cuvs_pytests.sh'
          - '!ci/test_cpp.sh'
          - '!ci/test_java.sh'
          - '!ci/test_python.sh'
          - '!ci/test_standalone_c.sh'
          - '!ci/test_wheel_cuvs.sh'
          - '!ci/validate_wheel.sh'
          - '!docs/**'
          - '!img/**'
          - '!java/**'
          - '!notebooks/**'
          - '!python/**'
          - '!rust/**'
          - '!thirdparty/LICENSES/**'
  checks:
    needs: telemetry-setup
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@main
    with:
      enable_check_generated_files: false
      ignored_pr_jobs: "telemetry-summarize"
  check-c-abi:
    needs: telemetry-setup
    uses: ./.github/workflows/check-c-abi.yaml
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu16
      script: ci/build_cpp.sh
  conda-cpp-tests:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    with:
      build_type: pull-request
      script: ci/test_cpp.sh
  conda-cpp-checks:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-post-build-checks.yaml@main
    with:
      build_type: pull-request
      symbol_exclusions: (void (thrust::|cub::))
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@main
    with:
      build_type: pull-request
      script: ci/build_python.sh
      # Build a conda package for each CUDA x ARCH x minimum supported Python version
      matrix_filter: group_by({CUDA_VER, ARCH}) | map(min_by(.PY_VER | split(".") | map(tonumber)))
  conda-python-tests:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_conda
    with:
      build_type: pull-request
      script: ci/test_python.sh
  rocky8-clib-standalone-build:
    needs: [checks]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - &latest_cuda12 '12.9.1'
          - &latest_cuda13 '13.1.1'
        arch:
          - amd64
          - arm64
    with:
      build_type: pull-request
      arch: "${{matrix.arch}}"
      date: ${{ inputs.date }}_c
      container_image: "rapidsai/ci-wheel:26.04-cuda${{ matrix.cuda_version }}-rockylinux8-py3.11"
      node_type: "cpu16"
      requires_license_builder: true
      script: "ci/build_standalone_c.sh --build-tests"
      artifact-name: "libcuvs_c_${{ matrix.cuda_version }}_${{ matrix.arch }}.tar.gz"
      file_to_upload: "libcuvs_c.tar.gz"
      sha: ${{ inputs.sha }}
  rocky8-clib-tests:
    needs: [rocky8-clib-standalone-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - *latest_cuda12
          - *latest_cuda13
        arch:
          - amd64
          - arm64
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "${{matrix.arch}}"
      date: ${{ inputs.date }}_c
      container_image: "rapidsai/ci-wheel:26.04-cuda${{ matrix.cuda_version }}-rockylinux8-py3.11"
      script: "ci/test_standalone_c.sh libcuvs_c_${{ matrix.cuda_version }}_${{ matrix.arch }}.tar.gz"
      sha: ${{ inputs.sha }}
  conda-java-build-and-tests:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_java || fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    # Artifacts are not published from these jobs, so it's safe to run for multiple CUDA versions.
    # If these jobs start producing artifacts, the names will have to differentiate between CUDA versions.
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - *latest_cuda12
          - *latest_cuda13
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.04-cuda${{ matrix.cuda_version }}-ubuntu24.04-py3.13"
      script: "ci/test_java.sh"
      artifact-name: "cuvs-java-cuda${{ matrix.cuda_version }}"
      file_to_upload: "java/cuvs-java/target/"
  rust-build:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_rust || fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    # Artifacts are not published from these jobs, so it's safe to run for multiple CUDA versions.
    # If these jobs start producing artifacts, the names will have to differentiate between CUDA versions.
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - *latest_cuda12
          - *latest_cuda13
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.04-cuda${{ matrix.cuda_version }}-ubuntu24.04-py3.13"
      script: "ci/build_rust.sh"
  go-build:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_go || fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    # Artifacts are not published from these jobs, so it's safe to run for multiple CUDA versions.
    # If these jobs start producing artifacts, the names will have to differentiate between CUDA versions.
    strategy:
      fail-fast: false
      matrix:
        cuda_version:
          - *latest_cuda12
          - *latest_cuda13
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.04-cuda${{ matrix.cuda_version }}-ubuntu24.04-py3.13"
      script: "ci/build_go.sh"
  docs-build:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.04-latest"
      script: "ci/build_docs.sh"
  wheel-build-libcuvs:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu16
      script: ci/build_wheel_libcuvs.sh
      # build for every combination of arch and CUDA version, but only for the latest Python
      matrix_filter: group_by([.ARCH, (.CUDA_VER|split(".")|map(tonumber)|.[0])]) | map(max_by(.PY_VER|split(".")|map(tonumber)))
      package-name: libcuvs
      package-type: cpp
  wheel-build-cuvs:
    needs: wheel-build-libcuvs
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu8
      script: ci/build_wheel_cuvs.sh
      package-name: cuvs
      package-type: python
      # Build a wheel for each CUDA x ARCH x minimum supported Python version
      matrix_filter: group_by({CUDA_VER, ARCH}) | map(min_by(.PY_VER | split(".") | map(tonumber)))
  wheel-tests-cuvs:
    needs: [wheel-build-cuvs, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_wheels
    with:
      build_type: pull-request
      script: ci/test_wheel_cuvs.sh
  devcontainer:
    secrets: inherit
    needs: telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/build-in-devcontainer.yaml@main
    with:
      arch: '["amd64", "arm64"]'
      cuda: '["13.1"]'
      node_type: "cpu8"
      env: |
        SCCACHE_DIST_MAX_RETRIES=inf
        SCCACHE_SERVER_LOG=sccache=debug
        SCCACHE_DIST_FALLBACK_TO_LOCAL_COMPILE=false
      build_command: |
        sccache --zero-stats;
        build-all -j0 --verbose 2>&1 | tee telemetry-artifacts/build.log;
        sccache --show-adv-stats | tee telemetry-artifacts/sccache-stats.txt;
  telemetry-summarize:
    # This job must use a self-hosted runner to record telemetry traces.
    runs-on: linux-amd64-cpu4
    needs: pr-builder
    if: ${{ vars.TELEMETRY_ENABLED == 'true' && !cancelled() }}
    continue-on-error: true
    steps:
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-summarize@main
    env:
      GH_TOKEN: ${{ github.token }}
